html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: url("background.jpg") no-repeat center center fixed; 
    background-size: cover;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
}

main .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .content h1 {
    font-size: 80px;
}

main .content .more-info {
    display: flex;
    flex-direction: column;
    background: rgba(255 , 255, 255, .5);
    border-radius: 30px;
    padding: 20px;
}

main .content .more-info h2 {
    align-self: center;
}

main .content .more-info .links {
    display: flex;
}

main .content .more-info .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main .content .more-info .links .reddit, main .content .more-info .links .twitter {
    margin: 15px;
}

@media only screen and (max-width: 500px) {
    main .content .more-info .links {
        flex-direction: column;
    }
    main .content .more-info .links ul {
        line-height: 150%;
    }
}