@font-face {
    font-family: "FinkHeavy";
    src: url("FinkHeavy.otf") format("opentype");
}

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: url("background.jpg") no-repeat center center fixed; 
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: FinkHeavy;
}

main {
    height: 100vh;
}

main .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .content h1 {
    font-size: 85px;
    margin-top: 20px;
    margin-bottom: 20px;
}

main .content .more-info {
    display: flex;
    flex-direction: column;
    background: rgba(255 , 255, 255, .5);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

main .content .more-info h2 {
    align-self: center;
    margin-bottom: 0;
    font-size: 30px;
}

main .content .more-info .links {
    display: flex;
    z-index: 1;
}

main .content .more-info .links .reddit, main .content .more-info .links .twitter {
    margin: 15px;
}

main .content .more-info .links .reddit h3, main .content .more-info .links .twitter h3 {
    font-size: 20px;
}

main .content .more-info .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

main .content .more-info .isabelle {
    height: 100px;
    position: absolute;
    bottom: -30px;
    right: 0px;
    transform: rotate(340deg);
}

@media only screen and (max-width: 500px) {
    main .content .more-info .links {
        flex-direction: column;
    }
    main .content .more-info .links ul {
        line-height: 150%;
    }
}